<section id="division">
    <div class="container">
        <a href="#" class="btn-div animated fadeInUp">Dhaka</a>
        <a href="#" class="btn-div animated fadeInUp">Chattogram</a>
        <a href="#" class="btn-div animated fadeInUp">Sylhet</a>
        <a href="#" class="btn-div animated fadeInUp">Khulna</a>
        <a href="#" class="btn-div animated fadeInUp">Barishal</a>
        <a href="#" class="btn-div animated fadeInUp">Rajshahi</a>
        <a href="#" class="btn-div animated fadeInUp">Rangpur</a>
        <a href="#" class="btn-div animated fadeInUp">Mymensingh</a>
    </div>
</section>