<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css" type="text/css">

    <title>Vehicles - Rentin</title>
</head>

<body>


    <!-- Topbar Start -->
    <div class="container">
        <div class="topbar-wrapper">
            <div class="row">
                <div class="column topbar-column topbar-first" id="rowsize">
                    <div class="first-content">
                        <p style="font-size: 18px; padding-top: 5px; margin-left: 20px;"><b><a href="#" style="color: gray;">Select Location</a></b></p>
                    </div>
                </div>
                <div class="column topbar-column topbar-left" id="rowsize">
                    <div class="left-content">
                        <p style="font-size: 18px; padding-top: 5px; margin-left: 20px;"><b>Vehicles</b></p>
                    </div>
                </div>
                <div class="column topbar-column topbar-middle" id="rowsize">
                    <div class="middle-content">
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="What do you need?">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="column topbar-column topbar-right" id="rowsize">
                    <div class="right-content">
                        <form action="">
                            <div class="form-group">
                                <input class="submit-button" type="submit" value="Search">
                            </div>
                        </form>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Main Body Start -->
    <div class="container">
        <div class="main-body-wrapper">
            <div class="row">

                <!-- Layout: Left -->
                <div class="column main-body-column mainbody-left">
                    <div class="mainbody-left-wrapper">
                        <p style="font-size: 11px; color:#999d9e">Category</p>
                        <a href="categories.html"><p style="color: black; margin-top: -15px;">All Categories</p></a>
                        <p style="font-size: 17px;"><b>Vehicles</b></p>
                        <ul style="margin-top: -10px;">
                            <li><a style="color: #919090;" href="#">Bus (20+)</a></li>
                            <li><a style="color: #919090;" href="#">Truck (80+)</a></li>
                            <li><a style="color: #919090;" href="#">Taxi (60+)</a></li>
                            <li><a style="color: #919090;" href="#">Pickup (80+)</a></li>
                            <li><a style="color: #919090;" href="#">Van (20+)</a></li>
                            <li><a style="color: #919090;" href="#">Micro Bus (10+)</a></li>
                        </ul>
                    </div>

                    <div class="mainbody-left-wrapper">
                        <p style="font-size: 11px; color: #999d9e; margin-top: 50px;">Location</p>
                        <p style="margin-top: -15px;"><b>All of Bangladesh</b></p>
                        <ul style="margin-top: -15px;">
                            <li><a style="color: #919090;" href="#">Dhaka</a></li>
                            <li><a style="color: #919090;" href="#">Chattogram</a></li>
                            <li><a style="color: #919090;" href="#">Rajshahi</a></li>
                            <li><a style="color: #919090;" href="#">Sylhet</a></li>
                            <li><a style="color: #919090;" href="#">Khulna</a></li>
                            <li><a style="color: #919090;" href="#">Barishal</a></li>
                            <li><a style="color: #919090;" href="#">Rangpur</a></li>
                            <li><a style="color: #919090;" href="#">Mymensingh</a></li>
                        </ul>
                    </div>
                </div>


                <!-- Layout: Right -->
                <div class="column main-body-column mainbody-right" style="position: relative;">
                    <div class="mainbody-right-wrapper">
                        <p style="color: #2F3432; font-size: 19px; padding: 15px;"><b>Rent any Vehicles from aywhere in Bangladesh</b></p>

                        <!-- Slider Part-->
                        <div class="main-slider-wrapper">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="images/bus.JPG" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="slider-caption">
                                            <h3 style="font-size: 25px; padding-top: 20px;">NABIL Special Luxarias Bus</h3>
                                            <p style="color: #00ACC2; font-weight: bold; font-size: 20px;">TK 10,000 - Day</p>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="images/truck.JPG" alt="Second slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="slider-caption">
                                            <h3 style="padding-top: 20px; font-size: 25px;">TATA Extreme Heavy Loading Truck</h3>
                                            <p style="color: #00ACC2; font-weight: bold; font-size: 20px;">TK 5,000 - Day</p>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="images/taxi.JPG" alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="slider-caption">
                                            <h3 style="padding-top: 20px; font-size: 25px;">Toyota 24/7 Taxi</h3>
                                            <p style="color: #00ACC2; font-weight: bold; font-size: 20px;">TK 1,000 - Day</p>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="images/pickup.JPG" alt="Fourth slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="slider-caption">
                                            <h3 style="padding-top: 20px; font-size: 25px;">Mahindra Pickup</h3>
                                            <p style="color: #00ACC2; font-weight: bold; font-size: 20px;">TK 500 - Day</p>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                        </div>

                        <!-- Others Ad Part -->
                        <a href="#">
                            <div class="other-ad-wrapper">
                                <div class="row">
                                    <div class="column" style="width: 25%;">
                                        <div class="ad-image">
                                            <img src="images/ad-vehicles/micro.JFIF" alt="" style="height: 100%; width: 100%; display: block;">
                                        </div>
                                    </div>
                                    <div class="column" style="width: 74%;">
                                        <div class="ad-title" style="padding-top: 10px; padding-left: 8px;">
                                            <h4 style="color: #2F3432;">Hiache Family Car - Best choice for your tour</h4 style="color: #2F3432;">
                                            <p style="color: #949494; margin-top: -7px;">Moghbajar, Dhaka</p>
                                            <p style="color: #00ACC2; font-weight: bold; font-size: 18px;">TK 3,999 - Day</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="other-ad-wrapper">
                                <div class="row">
                                    <div class="column" style="width: 25%;">
                                        <div class="ad-image">
                                            <img src="images/ad-vehicles/cab.JPG" alt="" style="height: 100%; width: 100%; display: block;">
                                        </div>
                                    </div>
                                    <div class="column" style="width: 74%;">
                                        <div class="ad-title" style="padding-top: 10px; padding-left: 8px;">
                                            <h4 style="color: #2F3432;">Toyota Car - Hire it when you need it</h4 style="color: #2F3432;">
                                            <p style="color: #949494; margin-top: -7px;">Dhanmondi, Dhaka</p>
                                            <p style="color: #00ACC2; font-weight: bold; font-size: 18px;">TK 2,999 - Day</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="other-ad-wrapper">
                                <div class="row">
                                    <div class="column" style="width: 25%;">
                                        <div class="ad-image">
                                            <img src="images/ad-vehicles/ambulance.JPG" alt="" style="height: 100%; width: 100%; display: block;">
                                        </div>
                                    </div>
                                    <div class="column" style="width: 74%;">
                                        <div class="ad-title" style="padding-top: 10px; padding-left: 8px;">
                                            <h4 style="color: #2F3432;">Ambulance - Emergency</h4 style="color: #2F3432;">
                                            <p style="color: #949494; margin-top: -7px;">Savar, Dhaka</p>
                                            <p style="color: #00ACC2; font-weight: bold; font-size: 18px;">TK 499 - Day</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="other-ad-wrapper">
                                <div class="row">
                                    <div class="column" style="width: 25%;">
                                        <div class="ad-image">
                                            <img src="images/ad-vehicles/pickup.JPG" alt="" style="height: 100%; width: 100%; display: block;">
                                        </div>
                                    </div>
                                    <div class="column" style="width: 74%;">
                                        <div class="ad-title" style="padding-top: 10px; padding-left: 8px;">
                                            <h4 style="color: #2F3432;">Pickup - Semi loader service</h4 style="color: #2F3432;">
                                            <p style="color: #949494; margin-top: -7px;">Keranigonj, Dhaka</p>
                                            <p style="color: #00ACC2; font-weight: bold; font-size: 18px;">TK 399 - Day</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="other-ad-wrapper">
                                <div class="row">
                                    <div class="column" style="width: 25%;">
                                        <div class="ad-image">
                                            <img src="images/ad-vehicles/truck.JPG" alt="" style="height: 100%; width: 100%; display: block;">
                                        </div>
                                    </div>
                                    <div class="column" style="width: 74%;">
                                        <div class="ad-title" style="padding-top: 10px; padding-left: 8px;">
                                            <h4 style="color: #2F3432;">TATA Truck - Heavy Duty and Large things carryring service</h4 style="color: #2F3432;">
                                            <p style="color: #949494; margin-top: -7px;">Rajfulbariya, Savar, Dhaka</p>
                                            <p style="color: #00ACC2; font-weight: bold; font-size: 18px;">TK 1,999 - Day</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Body End -->














    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
